<% if current_user %>

	<div class="hero-unit container">

	<h1 class="span12" style="text-align: center;font-size: 80px">DevDo</h1>
	</br></br></br></br></br></br>
	<% if Rails.env.production?  %>
	<%= link_to "Sign in with Github", user_omniauth_authorize_path(:github) , {:class=>"btn btn btn-large offset3", :style=>"color:#000000 ; font-size: 50px; height:60px;padding-top:40px"} %>
	</div>
	<%else%>
	<%= link_to "Add New Repo" , new_repo_path%>
	<%end%>

	<%else%>

	<div class="hero-unit container">

		<h1 class="span12" style="text-align: center;font-size: 80px">DevDo</h1>
		</br></br></br></br></br></br>

		<h3 >1. Start Monitoring on Devernote.com</h3>
		<%= image_tag "https://s3.amazonaws.com/devernote-store/ss1.png"%>
		</br></br>
		<h3  >2. Add some tags to your code</h3>
		<script src="https://gist.github.com/henghonglee/5543544.js"></script>
		</br></br>
		<h3>3. Commit and push to github as usual</h3>
		<script src="https://gist.github.com/anonymous/5543363.js"></script>
		</br></br>
		<h3>4. Automatically manages coding tasks for you</h3>
		<%= image_tag "https://s3.amazonaws.com/devernote-store/ss.png"%>
		</br></br>
		<%= link_to "Sign in with Evernote", user_omniauth_authorize_path(:evernote) , {:class=>"btn btn-success btn-large offset3", :style=>"color:#000000 ; font-size: 50px; height:60px;padding-top:40px"} %>


	</div>

<%end%>