<% if current_user %>
	
	 <div class="hero-unit container">
		<% if current_user.github_username %>
		<h1>GitHub User: <%= current_user.github_username%></h1><p>[<a href="/set_github_username/<%= current_user.github_username%>">Refresh</a>]</p>
		</br></br>
		<%end%>	
		<h2>Active Tags</h2>
		<%for tag in current_user.tags%>			

			<p><%= tag %>  [<a href="/remove_tag?tagname=<%= tag %>">X</a>]</p>

		<%end%>

			<%= form_tag("/add_tag", :method => "get") do %>
		  		<%= label_tag(:tagname, "Add Tag:") %>
		  		<%= text_field_tag(:tagname) %>
		  		<%= submit_tag("Submit") %>

			<% end %>
			</div>
			
		<div class = "container">
		<%for repo in current_user.repos%>
			
			<h2>Repository: <%=repo.name%><h2>
				<% if Rails.env.production?  %>
					<%if repo.hooked%>
						<h4><a href="/repo/<%= repo.id %>?user_id=<%=current_user.id%>">Stop Monitoring</a></h4>
					<%else%>
						<h4><a href="/repo/<%= repo.id %>?user_id=<%=current_user.id%>">Start Monitoring</a></h4>
					<%end%>	
				<%end%>
					<h4><a href="/update_repo/<%= repo.id %>">Update Now</a><h4>

					
		<%end%>
		</br></br></br></br></br></br>
		<% if not Rails.env.production?  %>
		<h1>Add New Repo</h1>

		<%= simple_form_for @newRepo,:url=>"/repo/" do |f| %>
		  <%= f.input :name, label: 'Repository Name' %>
		  <%= f.input :clone_url, label: 'Repository Clone URL' %>
		  <%= f.input :html_url, label: 'Repository Site URL' %>
		  <%= f.button :submit %>
		<% end %>
		<%end%>
		</div>
	
<%end%>	
