<!DOCTYPE html>
<html>
<head>
  <title>Devernote</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="navbar">
	  <div class="navbar-inner">
	    <a class="brand" href="#">Devernote</a>
	    <ul class="nav">

		<% if current_user%>
			<%= link_to "Sign out Evernote", destroy_user_session_path,{ :method => :delete , :class=>"btn btn-danger btn-large offset9" , :style=>"color:#FFFFFF ; font-size: 20px;padding-top:3px; height:16px;"}%>
		<%else%>
	<%= link_to "Sign in with Evernote", user_omniauth_authorize_path(:evernote) ,{ :method => :delete , :class=>"btn btn-success btn-large offset9" , :style=>"color:#FFFFFF ; font-size: 20px;padding-top:3px; height:16px;"}%>
		
		<%end%>
	    </ul>
	  </div>
	</div>
    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
<% if current_user%>



<%else%>

<div class="hero-unit container">
	
	<h1 class="span12" style="text-align: center;font-size: 80px">Devernote</h1>
	</br></br></br></br></br></br>
	
	<h3 >1. Start Monitoring on Devnote.com</h3>
	<%= image_tag "ss1.png"%>
	</br></br>
	<h3  >2. Add some tags to your code</h3>
	<script src="https://gist.github.com/henghonglee/5543544.js"></script>
	</br></br>
	<h3>3. Commit and push to github as usual</h3>
	<script src="https://gist.github.com/anonymous/5543363.js"></script>
	</br></br>
	<h3>4. Automatically manages coding tasks for you</h3>
	<%= image_tag "ss.png"%>
	</br></br>
	<%= link_to "Sign in with Evernote", user_omniauth_authorize_path(:evernote) , {:class=>"btn btn-success btn-large offset3", :style=>"color:#000000 ; font-size: 50px; height:60px;padding-top:40px"} %>


</div>
<%end%>
<%= yield %>

</body>
</html>
