<!DOCTYPE html>
<html>
<head>
  <title>Devernote</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="navbar " style="background-color:green">
	  <div class="navbar-inner">
		<a class="brand" href="#"> Devernote</a>
	    <ul class="nav">
		<li >
		<% if current_user%>
			<%= link_to "Evernote Sign out ", destroy_user_session_path,{ :method => :delete , :html=>{:class=>"btn-primary"} }%>
		<%else%>
			<%= link_to "Sign in with Evernote", user_omniauth_authorize_path(:evernote) %> 
		<%end%>
		</li>
	    </ul>
	  </div>
	</div>
    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->

<%= yield %>

</body>
</html>
