<!DOCTYPE html>
<html>
<head>
  <title>Devernote</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="navbar">
	  <div class="navbar-inner">
	    <a class="brand" href="#">Devernote</a>
	    <ul class="nav">

		<% if current_user%>
			<%= link_to "Sign out Evernote", destroy_user_session_path,{ :method => :delete , :class=>"btn btn-danger btn-large offset9" , :style=>"color:#FFFFFF ; font-size: 20px;padding-top:3px; height:16px;"}%>
		<%else%>
	<%= link_to "Sign in with Evernote", user_omniauth_authorize_path(:evernote) ,{ :class=>"btn btn-success btn-large offset9" , :style=>"color:#FFFFFF ; font-size: 20px;padding-top:3px; height:16px;"}%>
		
		<%end%>
	    </ul>
	  </div>
	</div>
    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->

<%= yield %>

</body>
</html>
